执政官级蓝图
    最大基础成功率:0.4
    主材料:艾玛航空母舰受损结构:77
    解码器数量:50
    数据核心-艾玛星舰工程:75
    数据核心-磁流体物理:75
万古级蓝图
    最大基础成功率:0.4
    主材料:执政官级蓝图:100
    解码器数量:150
    数据核心-艾玛星舰工程:2048
    数据核心-磁流体物理:2048
    艾玛航空母舰受损结构:512
    加达里航空母舰受损结构:128
    盖伦特航空母舰受损结构:256
    米玛塔尔航空母舰受损结构:84
    旗舰升级改造实验数据:1024
    加达里战力辅助舰受损结构:16
    米玛塔尔战力辅助舰受损结构:8
    艾玛战力辅助舰受损结构:64
    盖伦特战力辅助舰受损结构:32