旗舰组件:
    基础组件:
        旗舰船只维护仓
        旗舰电容器电池
        旗舰发电机组
        旗舰发射器安装座
        旗舰附甲
        旗舰感应器组
        旗舰护盾发射器
        旗舰会战能源阵列
        旗舰货柜舱
        旗舰末日武器安装位
        旗舰炮台挂点
        旗舰跳跃桥接阵列
        旗舰跳跃引擎
        旗舰推进引擎
        旗舰无人机挂舱
    高级组件:
        神经链接回路
        神经链接防护单元
        超光速链接通信器
        核心结构自动修复装置
        生命保障装置
        核心温度调节系统