物品
    矿物
    行星产物
    反应产物
    气云
    旗舰组件
        基础组件
            旗舰船只维护仓
            旗舰电容器电池
            旗舰发电机组
            旗舰发射器安装座
            旗舰附甲
            旗舰感应器组
            旗舰护盾发射器
            旗舰会战能源阵列
            旗舰货柜舱
            旗舰末日武器安装位
            旗舰炮台挂点
            旗舰跳跃桥接阵列
            旗舰跳跃引擎
            旗舰推进引擎
            旗舰无人机挂舱
        高级组件
            神经链接回路
            神经链接防护单元
            超光速链接通信器
            核心结构自动修复装置
            生命保障装置
            核心温度调节系统
    舰船
        旗舰
            无畏舰
                凤凰级
            航空母舰
                冥府级
                飞龙级
                万古级
                夜神级
            旗舰级工业舰
                长须鲸级
            战略货舰
                奥鸟级
                方舟级
                游牧者级
                安莎尓级
            战力辅助舰
                龙鸟级
        常规舰船
            护卫舰
            驱逐舰
            巡洋舰
            战列巡洋舰
            战列舰
            货舰
                渡神级
                普罗维登斯级
                芬利厄级
                方尖塔级
    
